In [124]:
import numpy as np
import pandas as pd

In [125]:
dsprogram = pd.read_csv("DSPrograms.csv")
big= pd.read_csv("timesMergedData.csv")

In [126]:
print(dsprogram.shape)
print(big.shape)

(114, 12)
(954, 27)

In [127]:
dsprogram.head(3)

,School Name,State,City,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Quant_GRE_Score,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type
0,Columbia University,NY,New York City,5,0,68160,1.0,NaN,3.7,132100,0,Private
1,University of Texas-Austin,TX,Austin,45,1,10000,2.0,160.0,3.0,115600,1,Public
2,University of Southern California,CA,Los Angeles,17,0,47880,1.5,NaN,3.5,126300,0,Private

In [128]:
big.head(3)

,SCHOOL,STATE,CITY,NOC,PROGRAM,TYPE,DEPARTMENT,DELIVERY,DURATION,PREREQ,...,RESEARCH,CITATIONS,INCOME,TOTAL_SCORE,NUM_STUDENTS,STUDENT_STAFF_RATIO,INTERNATIONAL_STUDENTS,F_M_RATIO,YEAR,timesData
0,Albright College,Pennsylvania,Reading,1,M.S. in Business Intelligence,M,Erivan K. Haub School of Business,Online,30 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,American Sentinel University,Colorado,Aurora,1,Master of Science Business Intelligence and An...,M,Not Available,Online,36 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,American University,District of Columbia,Washington,2,Online MBA with Analytics Concentration,M,Kogod School of Business,Online,15 months,Not Available,...,16.5,41.1,35.9,-,"11,604",12.0,12%,60:40:00,2016.0,1

In [129]:
dsprogram.isnull().sum()

School Name                 0
State                       0
City                        0
Ranking                     0
Online                      0
Total_Tuition_Cost          0
Program_Years_Full_Time     0
Min_Quant_GRE_Score        83
Min_Undergraduate_GPA       0
Median_Salary_10yr          0
Need_GRE                    0
Institution Type            0
dtype: int64

In [130]:
big.isnull().sum()

SCHOOL                      0
STATE                       0
CITY                        0
NOC                         0
PROGRAM                     0
TYPE                        0
DEPARTMENT                  0
DELIVERY                    0
DURATION                    0
PREREQ                      0
LINK                        0
LOC_LAT                     0
LOC_LONG                    0
WORLD_RANK                282
COUNTRY                   282
TEACHING                  282
INTERNATIONAL             282
RESEARCH                  282
CITATIONS                 282
INCOME                    282
TOTAL_SCORE               282
NUM_STUDENTS              282
STUDENT_STAFF_RATIO       282
INTERNATIONAL_STUDENTS    282
F_M_RATIO                 306
YEAR                      282
timesData                   0
dtype: int64

In [131]:
print(len(set(dsprogram["School Name"])))

print(len(set(big["SCHOOL"])))

96
219

In [132]:
cols=["LOC_LAT","LOC_LONG","NOC","INCOME","TOTAL_SCORE","NUM_STUDENTS","timesData","TYPE","PREREQ","WORLD_RANK","TEACHING","INTERNATIONAL","RESEARCH","CITATIONS"]
small = big.drop(cols,axis="columns")
small.shape

(954, 13)

In [133]:
small.head(2)

,SCHOOL,STATE,CITY,PROGRAM,DEPARTMENT,DELIVERY,DURATION,LINK,COUNTRY,STUDENT_STAFF_RATIO,INTERNATIONAL_STUDENTS,F_M_RATIO,YEAR
0,Albright College,Pennsylvania,Reading,M.S. in Business Intelligence,Erivan K. Haub School of Business,Online,30 credits,http://www.albright.edu/accelerated/masters-de...,NaN,NaN,NaN,NaN,NaN
1,American Sentinel University,Colorado,Aurora,Master of Science Business Intelligence and An...,Not Available,Online,36 credits,http://www.americansentinel.edu/management/m-s...,NaN,NaN,NaN,NaN,NaN

In [134]:
dsprogram.head(1)

,School Name,State,City,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Quant_GRE_Score,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type
0,Columbia University,NY,New York City,5,0,68160,1.0,NaN,3.7,132100,0,Private

In [135]:
dsprogram = dsprogram.drop(["Min_Quant_GRE_Score"],axis="columns")
dsprogram.isnull().sum()

School Name                0
State                      0
City                       0
Ranking                    0
Online                     0
Total_Tuition_Cost         0
Program_Years_Full_Time    0
Min_Undergraduate_GPA      0
Median_Salary_10yr         0
Need_GRE                   0
Institution Type           0
dtype: int64

In [136]:
dsprogram["Institution Type"]=dsprogram["Institution Type"].apply(lambda x : 1 if x == "Public" else 0)

In [137]:
dsprogram.head(3)

,School Name,State,City,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type
0,Columbia University,NY,New York City,5,0,68160,1.0,3.7,132100,0,0
1,University of Texas-Austin,TX,Austin,45,1,10000,2.0,3.0,115600,1,1
2,University of Southern California,CA,Los Angeles,17,0,47880,1.5,3.5,126300,0,0

In [138]:
ds_original=dsprogram.copy()

In [139]:
ds_original.head(1)

,School Name,State,City,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type
0,Columbia University,NY,New York City,5,0,68160,1.0,3.7,132100,0,0

In [140]:
ds_schools=dsprogram['School Name'].values
ds_schools

array(['Columbia University', 'University of Texas-Austin',
       'University of Southern California', 'University of Miami',
       'Syracuse University', 'University of Colorado-Boulder',
       'University of Colorado-Boulder', 'University of Arizona',
       'University of Pennsylvania', 'University of California-Berkeley',
       'Yale University', 'Indiana University-Bloomington',
       'Indiana University-Bloomington', 'Michigan State University',
       'University of Connecticut', 'University of Utah',
       'Stanford University', 'Harvard University',
       'University of California-Los Angeles', 'Northwestern University',
       'Duke University', 'Cornell University', 'Vanderbilt University',
       'University of California-San Diego',
       'University of California-San Diego',
       'University of California-Davis', 'University of Michigan',
       'Rice University', 'Rice University', 'Brown University',
       'University of Washington',
       'University of North Carolina-Chapel Hill',
       'University of Virginia', 'Emory University',
       "John's Hopkins University", 'Tufts University',
       'University of Notre Dame', 'University of Maryland-College Park',
       'University of California-Irvine', 'Carnagie Mellon University',
       'Texas A&M', 'University of Wisconsin-Madison',
       'Stony Brook University-SUNY', 'Lehigh University',
       'San Diego State University', 'Santa Clara University',
       'Santa Clara University', 'Northeastern University',
       'University of Rochester', 'New York University',
       'University of Minnesota-Twin Cities', 'Florida State University',
       'Southern Methodist University', 'Clemson University',
       'University of Delaware', 'San Jose State University',
       'University at Buffalo-SUNY',
       'University of Maryland-Baltimore Coutry', 'Syracuse University',
       'San Francisco State University', 'Arizona State University',
       'University of Oklahoma', 'University of Oklahoma',
       'Marquette University', 'Drexel University', 'Drexel University',
       'Worcester Polytechnic Institute',
       'Worcester Polytechnic Institute', 'Universtiy of Central Florida',
       'University of Missouri-Columbia',
       'University of Missouri-Columbia',
       'Florida International Universtiy', 'American University',
       'Auburn University', 'Auburn University',
       'Stevens Institute of Technology',
       'Stevens Institute of Technology', 'Texas Tech University',
       'Texas Tech University', 'University of Vermont',
       'University of Denver', 'University of Denver',
       'University of the Pacific', 'Michigan Technological University',
       'Fordham University', 'University of San Francisco',
       'Rochester Institute of Technology',
       'Rochester Institute of Technology', 'University at Albany-SUNY',
       'University of Kansas', 'New Jersey Institute of Technology',
       'Florida Atlantic University', 'Colorado State University',
       'Colorado State University', 'Temple University',
       'Oklahoma State University', 'Oklahoma State University',
       'California State University-East Bay', 'University of Kentucky',
       'Loyola University of Maryland', 'University of St. Thomas',
       'Seton Hall University', 'Ramapo College of New Jersey',
       'Seattle University', 'DePaul University',
       'University of North Texas', 'Colorado School of Mines',
       'University of Nevada-Reno', 'New College of Florida',
       'Georgia State University', 'Pace University', 'Pace University',
       'Chapman University', 'Adelphi University'], dtype=object)

In [141]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
encoded_target = label_encoder.fit_transform(dsprogram['School Name'])
encoded_target

array([11, 85, 83, 71, 50, 63, 63, 57, 80, 58, 95, 23, 23, 28, 64, 86, 47,
       22, 61, 34, 15, 12, 93, 62, 62, 59, 72, 38, 38,  4, 89, 76, 88, 16,
       24, 54, 78, 70, 60,  6, 52, 90, 49, 25, 40, 43, 43, 33, 81, 32, 73,
       19, 46,  8, 65, 42, 56, 69, 50, 41,  2, 79, 79, 27, 14, 14, 94, 94,
       92, 74, 74, 18,  1,  3,  3, 48, 48, 53, 53, 87, 66, 66, 91, 29, 20,
       82, 39, 39, 55, 67, 31, 17, 10, 10, 51, 35, 35,  5, 68, 26, 84, 45,
       37, 44, 13, 77,  9, 75, 30, 21, 36, 36,  7,  0])

In [142]:
dsprogram.drop(["School Name"],axis="columns",inplace=True)

In [143]:
ds_encoded=pd.get_dummies(dsprogram.drop(["State"],axis="columns"))

In [144]:
ds_encoded.head(3)

,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type,City_Albany,City_Ann Arbor,...,City_Stockton,City_Stony Brook,City_Storrs,City_Syracuse,City_Tallahassee,City_Tempe,City_Tucson,City_University Park,City_Washington,City_Worcester
0,5,0,68160,1.0,3.7,132100,0,0,False,False,...,False,False,False,False,False,False,False,False,False,False
1,45,1,10000,2.0,3.0,115600,1,1,False,False,...,False,False,False,False,False,False,False,False,False,False
2,17,0,47880,1.5,3.5,126300,0,0,False,False,...,False,False,False,False,False,False,False,False,False,False

In [145]:
dsprogram.head(1)

,State,City,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type
0,NY,New York City,5,0,68160,1.0,3.7,132100,0,0

In [146]:
dsprogram=pd.get_dummies(dsprogram)

In [147]:
dsprogram.head(1)

,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type,State_AL,State_AZ,...,City_Stockton,City_Stony Brook,City_Storrs,City_Syracuse,City_Tallahassee,City_Tempe,City_Tucson,City_University Park,City_Washington,City_Worcester
0,5,0,68160,1.0,3.7,132100,0,0,False,False,...,False,False,False,False,False,False,False,False,False,False

In [148]:
boolean_columns = [col for col in ds_encoded.columns if ds_encoded[col].dtype == bool]
ds_encoded[boolean_columns] = ds_encoded[boolean_columns].astype(int)
ds_encoded.head(2)

,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type,City_Albany,City_Ann Arbor,...,City_Stockton,City_Stony Brook,City_Storrs,City_Syracuse,City_Tallahassee,City_Tempe,City_Tucson,City_University Park,City_Washington,City_Worcester
0,5,0,68160,1.0,3.7,132100,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,45,1,10000,2.0,3.0,115600,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [149]:
boolean_columns = [col for col in dsprogram.columns if dsprogram[col].dtype == bool]
dsprogram[boolean_columns] = dsprogram[boolean_columns].astype(int)
dsprogram.head(2)

,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type,State_AL,State_AZ,...,City_Stockton,City_Stony Brook,City_Storrs,City_Syracuse,City_Tallahassee,City_Tempe,City_Tucson,City_University Park,City_Washington,City_Worcester
0,5,0,68160,1.0,3.7,132100,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,45,1,10000,2.0,3.0,115600,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [150]:
ds_distances = dsprogram.copy()

In [151]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
ds_distances[["Ranking","Total_Tuition_Cost","Median_Salary_10yr"]]  =sc.fit_transform(ds_distances[["Ranking","Total_Tuition_Cost","Median_Salary_10yr"]])

In [152]:
ds_distances.head(2)

,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type,State_AL,State_AZ,...,City_Stockton,City_Stony Brook,City_Storrs,City_Syracuse,City_Tallahassee,City_Tempe,City_Tucson,City_University Park,City_Washington,City_Worcester
0,-1.512610,0,1.200875,1.0,3.7,1.206274,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-0.970353,1,-1.973046,2.0,3.0,0.112885,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [153]:
from sklearn.metrics.pairwise import cosine_similarity
distances = cosine_similarity(ds_distances)

In [154]:
distances.shape

(114, 114)

In [155]:
ds_encoded = ds_encoded.drop(["Ranking","Min_Undergraduate_GPA","Median_Salary_10yr"],axis="columns")

In [156]:
ds_cols=ds_encoded.columns

In [157]:
ds_encoded[["Total_Tuition_Cost"]]= sc.fit_transform(ds_encoded[["Total_Tuition_Cost"]])
ds_encoded.head(2)

,Online,Total_Tuition_Cost,Program_Years_Full_Time,Need_GRE,Institution Type,City_Albany,City_Ann Arbor,City_Atlanta,City_Auburn,City_Austin,...,City_Stockton,City_Stony Brook,City_Storrs,City_Syracuse,City_Tallahassee,City_Tempe,City_Tucson,City_University Park,City_Washington,City_Worcester
0,0,1.200875,1.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,-1.973046,2.0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [158]:
from sklearn.ensemble import RandomForestClassifier
rand =RandomForestClassifier()
rand.fit(ds_encoded,encoded_target)

RandomForestClassifier()

In [159]:
from sklearn.metrics import accuracy_score
print(accuracy_score(encoded_target,rand.predict(ds_encoded)))

1.0

In [160]:
predict_values = {}
for i in ds_cols:   
    predict_values[i]=None;
    
predict_values["Online"]=1    
predict_values["Total_Tuition_Cost"]=20000
predict_values["Program_Years_Full_Time"]=1.5
predict_values["Need_GRE"]=0
predict_values["Institution Type"]=1
for i in predict_values.keys():
    if i == "City_Syracuse":
        predict_values[i]=1

index = range(1)

chec=pd.DataFrame(predict_values,index=index)
chec.fillna(0,inplace=True)

/tmp/ipykernel_36376/3532660385.py:17: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  chec.fillna(0,inplace=True)

In [161]:
from sklearn.pipeline import Pipeline

pipeline = Pipeline([('sc',StandardScaler()),
                     ('rand',RandomForestClassifier())])
pipeline.fit(ds_encoded,encoded_target)

label_encoder.inverse_transform(pipeline.predict(chec))[0]

'Syracuse University'

In [162]:
chec

,Online,Total_Tuition_Cost,Program_Years_Full_Time,Need_GRE,Institution Type,City_Albany,City_Ann Arbor,City_Atlanta,City_Auburn,City_Austin,...,City_Stockton,City_Stony Brook,City_Storrs,City_Syracuse,City_Tallahassee,City_Tempe,City_Tucson,City_University Park,City_Washington,City_Worcester
0,1,20000,1.5,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [163]:
pipeline

Pipeline(steps=[('sc', StandardScaler()), ('rand', RandomForestClassifier())])

In [164]:
def recommend(college_name):
    college_index = np.where(ds_schools==college_name)[0][0]
    college_list  = sorted(list(enumerate(distances[college_index])),reverse=True,key=lambda x : x[1])[0:6]
    college_list = [i[0] for i in college_list]
    print(college_list)

In [165]:
recommend("Syracuse University")

[4, 58, 48, 65, 52, 49]

In [166]:
ds_original.head(1)

,School Name,State,City,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type
0,Columbia University,NY,New York City,5,0,68160,1.0,3.7,132100,0,0

In [167]:
ds_original["Need_GRE"]=ds_original["Need_GRE"].apply(lambda x : "Needed" if x ==1 else "Not Needed")
ds_original["Institution Type"]=ds_original["Institution Type"].apply(lambda x : "Public" if x ==1 else "Private")
ds_original["Online"]=ds_original["Online"].apply(lambda x : "Online" if x ==1 else "Offline")
ds_original.head(1)

,School Name,State,City,Ranking,Online,Total_Tuition_Cost,Program_Years_Full_Time,Min_Undergraduate_GPA,Median_Salary_10yr,Need_GRE,Institution Type
0,Columbia University,NY,New York City,5,Offline,68160,1.0,3.7,132100,Not Needed,Private

In [168]:
from urllib.parse import urlparse

def extract_base_url(url):
    parsed_url = urlparse(url)
    base_url = parsed_url.scheme + '://' + parsed_url.netloc
    return base_url

small['LINK'] = small['LINK'].apply(extract_base_url)

In [169]:
link = small[["SCHOOL","LINK"]]
link=link.drop_duplicates(subset='SCHOOL')
ds_original=pd.merge(ds_original,link,left_on ="School Name",right_on="SCHOOL",how="left").drop(["SCHOOL"],axis="columns").fillna("NA")

In [170]:
csv_file_name = 'data.csv'
ds_original.to_csv(csv_file_name, index=False)